@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
/* body */
body {margin:0; padding:0}
{width:100%; margin:0 auto; overflow:hidden}
.main_image {width:100%; height:422px; border-top:1px solid #d7d7d7; overflow:hidden; margin:0 auto; position:relative}
.main_image ul {width:9999px; height:422px; overflow:hidden; position:absolute; top:0; left:0}
.main_image li {float:left; width:100%; height:422px;}
.main_image li span {display:block; width:100%; height:422px}
.main_image li a {display:block; width:100%; height:422px}
.banner_b{position:absolute; top:490px; left:0; z-index:888; height:50px; background:#000; width:100%;FILTER: alpha(opacity=10); opacity: 0.1;}
div.flicking_con {width:100%; margin:0 auto;}
div.flicking_con .flicking_inner {position:absolute; top:505px; left:50%; z-index:999; height:18px} /* 121126 */
div.flicking_con a {float:left; width:21px; height:21px; margin:0; padding:0; background:url('../images/btn_main_img.png') 0 0 no-repeat; display:block; text-indent:-1000px}
div.flicking_con a.on {background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}