
div.select-main {
	background-color: #FFFFFF;
	border: 1px solid #2DB2FF;
	box-shadow: 0 0 2px #2DB2FF;
	border-radius: 5px;
	font-size: 12px;
	height: 30px;
	position: relative;
	width: 120px;
	
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div.select-main.z-index {
	z-index: 10;
}

div.select-main.disabled {
	cursor: default;
	filter: alpha(opacity=50);
	opacity: 0.5;
	zoom: 1;
}

div.select-main.disabled div.select-set {
	cursor: default;
}

div.select-main.disabled div.select-arrow {
	cursor: default;
}

div.select-set {
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #333333;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	padding: 0 10px 0 20px;
	width: 90px;
	z-index: 5;
}

div.select-arrow {
	border-top: 5px solid #2DB2FF;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	cursor: pointer;
	height: 0px;
	position: absolute;
	top: 12px;
	right: 10px;
	width: 0px;
	z-index: 7;
}

div.select-arrow.reverse {
	border-top: 5px solid transparent;
	border-bottom: 5px solid #2DB2FF;
	top: 6px;
}

div.select-block {
	background-color: #FFFFFF;
    border-left: 1px solid #2DB2FF;
    border-right: 1px solid #2DB2FF;
    border-bottom: 1px solid #2DB2FF;
    border-radius: 5px;
    box-shadow: 0 0 2px #2DB2FF;
    left: -1px;
    line-height: 20px;
    position: absolute;
    top: 24px;
    width: 120px;
}

ul.select-list {
	cursor: pointer;
	margin: 15px 0 7px;
}

/* Scroll view */

ul.select-list::-webkit-scrollbar {
    width: 12px;
}

ul.select-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

ul.select-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}

ul.select-list {
	scrollbar-face-color: #AEB1B1;
    scrollbar-shadow-color: #C7CACA;
    scrollbar-highlight-color: #CED1D1;
    scrollbar-3dlight-color: #CED1D1;
    scrollbar-darkshadow-color: #C7CACA;
    scrollbar-track-color: #CED1D1;
    scrollbar-arrow-color: #333;
}

/* End scroll view */

li.select-items {
	color: #333333;
	padding: 5px 15px;
}

li.select-items:hover,
li.select-items.active {
	background-color: #2DB2FF;
	color: #FFFFFF;
}

/*www.198zone.com*/