/*============================================================================
			RESPONSIVE CSS WITH MEDIA 
=============================================================================*/

/*=============  MEDIA 1400px   =============*/
@media(min-width:1200px) and (max-width:1400px) {
}
/*=============  MEDIA 1200px   =============*/
@media(max-width:1200px) {
}
/*=============  MEDIA 1024px   =============*/
@media(max-width:1024px) {
}
/*=============  MEDIA 992px - 1199px   =============*/
@media(min-width:992px) and (max-width:1199px) {
header nav li a {
	padding:0 13px;
}
.nav-post .nav-text {
	float: right;
	width: 64%;
}
.parthner {
	text-align: center;
}
.parthner li {
	width: 32.6%;
	margin-bottom: 30px;
}
.blog-side-bar ul.wid-in li:nth-child(2) {
	width: 55%;
}
}
/*=============  MEDIA 768px - 991px   =============*/
@media(min-width:768px) and (max-width:991px) {
header nav li a {
	padding:0 14px;
}
header nav{
	width:100%;
}
header:before{
	width:100%;
	background:#fff;
}
.sticky{
	position:relative !important;
}
.home-1 .finder{
	top:10%;
}
.home-1 .finder .container{
	width:100%;
}
header .logo{
	width:100%;
	text-align:center;
}
#banner {
	height: 500px;
}
.flex-direction-nav a {
	top: 35%;
}
.bnr-form {
	margin-top: 40px;
}
#banner .text-sec {
	margin-top: 30%;
}
.services .sec-in .go-right {
	top: 26px;
}
.offer-services .nav-tabs li a {
	line-height: 36px;
}
.solution h3 {
	margin-top: 50px;
}
.counters {
	text-align: center;
}
.counters i {
	width: 100%;
	text-align: center;
	border: none;
	margin-bottom: 5px;
}
#banner .flex-direction-nav .flex-prev {
	right: 1%;
}
#banner .flex-direction-nav .flex-next {
	left: 1%;
}
}
/*=============  MEDIA 767px   =============*/
@media(max-width:767px) {
.tittle p{
	width:100%;
}
.sticky{
	position:relative !important;
}
.absu{
	display:none !important;
}
.services li{
	margin-bottom:30px;
}
.call-us .overlay{
	text-align:center;
}
.call-us .no-padding{
	padding:0 15px !important;
}
header .logo {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
header .header-contact {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sub-nav-co {
	position: absolute;
	top: 15px;
	margin: 0px;
}
#banner {
	height: 500px;
}
#banner {
}
.bnr-form {
	margin-top: 10%;
}
footer .col-sm-3{
	margin-bottom:30px;
}
#banner .text-sec {
	margin-top: 20%;
}
.flex-direction-nav {
	top: auto;
	bottom: 40px;
	margin: 0 auto;
}
.flex-direction-nav a {
	margin: 0 auto;
}
#banner .flex-direction-nav .flex-next {
	left: -5%;
}
#banner .flex-direction-nav .flex-prev {
	right: -5%;
}
header nav li.active {
	background: none !important;
}
nav li:hover {
	background: none !important;
}
header nav li {
	padding-top: 0px;
}
.ownmenu .indicator {
	display: block;
}
header nav li a {
	border: none;
}
.offer-services .nav-tabs {
	margin-bottom: 30px;
}
.blog ul li {
	margin-bottom: 30px;
}
.blog ul li img {
	width: 100%;
}
#team .team {
	margin-bottom: 30px;
}
.panel-group {
	margin-bottom: 30px;
}
.sub-banner {
	background-size: cover;
}
.flex-direction-nav {
	display: none;
}
header nav{
	width:100%;
}
header:before{
	width:100%;
}
.ownmenu > li.showhide{
	margin-top:0px;
}
header nav .ownmenu{
	min-height:inherit;
}
header nav{
	min-height:inherit;
}
.ownmenu > li.showhide span.icon{
	margin:0px;
	line-height:46px;
	float:none;
}
.ownmenu > li.showhide{
	text-align:center;
}
header nav li{
	margin-top:0px;
}
.ownmenu > li > .megamenu.full-width{
	padding-top:0px;
}
.ownmenu > li > .megamenu{
	top:20px;
	padding-left:25px;
}
.megamenu .row{
	margin-left:15px;
}
.find-sec li{
	width:50%;
	float:left;
}
.finder h1{
	font-size:30px;
}
.find-sec{
	margin-top:20px;
}
.home-1 .finder{
	top:10%;
}
.home-1 li.col-sm-6{
	width:100%;
}
.mobile-app a.btn{
	margin-bottom:30px;
	margin-top:20px;
}
#testimonials .testi{
	width:100%;
}
}

/*=============  MEDIA 600px   =============*/
@media (max-width:640px) {
header .logo {
	width: 100%;
	float: none;
	display: inline-block;
	text-align: center;
	margin: 10px 0;
}
.sub-banner {
	text-align: center;
}
.sub-nav {
	float: none;
	display: inline-block;
	width: 100%;
}
header .search {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.nav-post .nav-text {
	width: 75%;
}
.blog-side-bar ul.wid-in li:nth-child(2) {
	width: 76%;
}
}

/*=============  MEDIA 540px   =============*/
@media(max-width:540px) {
#banner {
}
.parthner {
	padding-top: 0px;
}
.blog .b-details a {
	position: relative;
	bottom: 0px;
	left: 0px;
}
.parthner .owl-nav {
	width: 50px;
	top: -122px;
}
.blog .b-details span {
	margin-top: 0px;
}
footer .subcribe input{
	width:100%;
}
footer .subcribe .btn{
	width:100%;
	margin-top:10px;
}
.pop-project .carousel-indicators li {
	width: 23.3333%;
	margin-top: 5px;
	height: auto;
}
header .header-contact li {
	border: none;
	width: 100%;
	padding-bottom: 10px;
}
header .header-contact li:nth-child(1) {
	border-bottom: 1px dashed #cccccc;
	border-right: none;
	margin-bottom: 10px;
}
.services li.padding-r-80 {
	padding-right: 0px !important;
}
.items-details .carousel-indicators li {
	width: 30.3333%;
}
.home-3 .bnr-property{
	width:94%;
}
.home-3 .bnr-property{
	margin-top:80px;
}
.home-3 .bnr-property{
	left:15px;
	right:15px;
	margin-left:0px;
}
#banner {
  height: 500px !important;
}
.home-3 .bnr-property .btn{
	width:45%;
	padding:8px 0px;
	text-align:center;
}
}

/*=============  MEDIA 400px   =============*/
@media(max-width:440px) {
.parthner {
	text-align: center;
}
.parthner li {
	width: 100%;
	margin-bottom: 30px;
}
.ownmenu .megamenu img {
	margin-top: 10px;
}
.find-sec li{
	width:100%;
	float:none;
}
}
/*=============  MEDIA 320px   =============*/
@media(max-width:320px) {
}
